<main class="proyectos">
  <h5>Mis proyectos</h5>
  <div class="caja-proyectos">
    <div class="card-proyecto">
      <img src="../../assets/pokedex.png" alt="" />
      <h6>Pokédex</h6>
      <p>
        Explora una Pokédex que presenta un listado completo de los Pokémon de
        Kanto junto con sus detalles, todo ello utilizando la PokéAPI
      </p>
      <p class="lenguajes">Angular ● Typescript ● Angular ● Sass</p>
      <div class="link">
        <a href="https://github.com/Auqui19/Pokedex-Angular.git"
          ><i class="fa-brands fa-github"></i> GitHub
        </a>
        <a href="https://pokedex-auqui.netlify.app/" target="_blank"
          ><i class="fa-solid fa-arrow-up-right-from-square"></i> Ir
        </a>
      </div>
    </div>
    <div class="card-proyecto">
      <img src="../../assets/coder-max.png" alt="" />
      <h6>Codermax</h6>
      <p>
        Descubre una página web que ofrece cursos de programación en JavaScript,
        con animaciones utilizando Scroll Reveal y notificaciones interactivas
        con SweetAlert.
      </p>
      <p class="lenguajes">HTML ● CSS ● JAVASCRIPT</p>
      <div class="link">
        <a href="https://github.com/Auqui19/CoderMax-SiteWeb.git"
          ><i class="fa-brands fa-github"></i> GitHub
        </a>
      </div>
    </div>
    <div class="card-proyecto">
      <img src="../../assets/siv-img.png" alt="" />
      <h6>Sistema Inventario</h6>
      <p>
        Un sistema inventario de productos con conexión a base de datos MySQL, desarrollado
        con Java Spring Boot y utilizando plantillas de Bootstrap.
      </p>
      <p class="lenguajes">SpringBoot ● Java ● MySQL ● Bootstrap</p>
      <div class="link">
        <a href="https://github.com/Auqui19/Proyecto-Inventario-Spring-Boot.git"><i class="fa-brands fa-github"></i> GitHub </a>
      </div>
    </div>
  </div>
</main>
