<main>
  <div class="caja-main-1">
    <h1>Hola, Soy Alonso 👋🏻</h1>
    <p>
      Soy un joven programador web apasionado por la creación y diseño de
      páginas web. Me enfoco en la práctica constante, el desarrollo activo de
      sitios web y la búsqueda continua de conocimientos en programación. Busco
      oportunidades de crecimiento como desarrollador web, utilizando las
      mejores tecnologías para crear experiencias web excepcionales.<br /><br />
      Contacto: <a href="mailto:auquialonso19@gmail.com">sebasauquitasayco.gmail.com</a>
    </p>
    <p>
      <a href="https://github.com/Auqui19"><i class="fa-brands fa-github"></i> GitHub </a
      ><span> / </span>
      <a href="https://instagram.com/yoalonsoo?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i> Instagran </a
      ><span> </span>
    </p>
  </div>
  <div class="caja-main-2">
    <img alt="Alonso" loading="lazy" src="../../assets/io.jpg" />
  </div>
</main>
