main{
    margin-top: 80px;
    color: #f5f5f5;
}

.card-exp{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.card-exp .categoria{
    margin-bottom: 35px;
}

.titulo h6{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.titulo .fecha{
    font-size: 14px;
}

.caja-titulo{
    margin-bottom: 39px;
}

.caja-titulo .lugar{
    font-size: 14px;
    color: #0d6efd;
}


.caja-titulo .lenguajes{
    font-size: 14px;
}

/*---------- RESPONSIVO PC -----------*/

:host.pc .card-exp {
    flex-direction: row;
    margin-bottom: 70px;
}

:host.pc .titulo{
    display: flex;
    justify-content: space-between;
}

:host.pc .categoria{
    width: 30%;
    height: auto;
}

:host.pc .padre-titulo{
    width: 100%;
}