<main class="exp">
  <div class="caja-exp">
    <div class="card-exp">
      <p class="categoria">EDUCACIÓN</p>
      <div class="padre-titulo">
        <div class="caja-titulo">
          <div class="titulo">
            <h6>Computación e Informática - CIBERTEC</h6>
            <p class="fecha">2022 - Presente</p>
          </div>
          <p class="lugar">Lima - Perú</p>
          <p class="lenguajes">● Desarrolador Web</p>
        </div>
        <div class="caja-titulo">
          <div class="titulo">
            <h6>Aprendizaje Autodidacta (Youtube, Foros, etc.)</h6>
            <p class="fecha">2021 - Presente</p>
          </div>
          <p class="lugar">Online</p>
          <p class="lenguajes">● JavaScript, TypeScript, Angular, Java, etc.</p>
        </div>
      </div>
    </div>
    <!--
    <div class="card-exp">
        <p class="categoria">CERTIFICADOS</p>
        <div class="padre-titulo">
          <div class="caja-titulo">
              <div class="titulo">
                <h6>Aprendizaje Autodidacta (YT, Foros, etc.)</h6>
                <p class="fecha">2022 - Presente</p>
              </div>
              <p class="lugar">Online</p>
              <p class="lenguajes">● JavaScript, TypeScript, Angular, Java, etc.</p>
            </div>
            <div class="caja-titulo">
              <div class="titulo">
                <h6>Aprendizaje Autodidacta (YT, Foros, etc.)</h6>
                <p class="fecha">2022 - Presente</p>
              </div>
              <p class="lugar">Online</p>
              <p class="lenguajes">● JavaScript, TypeScript, Angular, Java, etc.</p>
            </div>
        </div>
      </div>-->
  </div>
</main>
