<main class="skills">
    <h5>Mis habilidades</h5>
    <div class="carrusel">
        <div class="deg-izq"></div>
        <div class="carrusel-items" (mouseover)="stop()" (mouseout)="start()">
            <div class="cartas">
              <a href="https://angular.io/" target="_blank">
                <img src="../../assets/angular.png" alt="">
                <p>Angular</p>
              </a>
            </div>
            <div class="cartas">
                <a href="https://www.java.com/es/">
                  <img src="../../assets/java.png" alt="">
                  <p>Java</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://www.mysql.com/">
                  <img src="../../assets/mysql.png" alt="">
                  <p>MySQL</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://www.typescriptlang.org/">
                  <img src="../../assets/typescript.png" alt="">
                  <p>Typescript</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://spring.io/">
                  <img src="../../assets/boot_spring.png" alt="">
                  <p>SpringBoot</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://getbootstrap.com/">
                  <img src="../../assets/bootstrap.png" alt="">
                  <p>Bootstrap</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://lenguajehtml.com/">
                  <img src="../../assets/html.png" alt="">
                  <p>HTML</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://developer.mozilla.org/es/docs/Web/CSS">
                  <img src="../../assets/css.png" alt="">
                  <p>CSS</p>
                </a>
              </div>
              <div class="cartas">
                <a href="">
                  <img src="../../assets/c_logo.png" alt="">
                  <p>C#</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://learn.microsoft.com/es-es/dotnet/csharp/">
                  <img src="../../assets/mongodb.png" alt="">
                  <p>MongoDB</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://developer.mozilla.org/es/docs/Web/JavaScript">
                  <img src="../../assets/javascript.png" alt="">
                  <p>JavaScript</p>
                </a>
              </div>
              <div class="cartas">
                <a href="https://www.eclipse.org/">
                  <img src="../../assets/eclipse.png" alt="">
                  <p>Eclipse</p>
                </a>
              </div>
        </div>
        <div class="deg-der"></div>
    </div>
</main>


